<!DOCTYPE html>
<html>
<head>
    <title>用户信息表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("user:user:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("user:user:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("user:user:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.name" placeholder="用户名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">昵称</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.nickname" placeholder="昵称"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">身份证号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.idCardNo" placeholder="身份证号码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">电话号码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.phone" placeholder="电话号码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">登录密码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.loginPwd" placeholder="登录密码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">头像id</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.avatarId" placeholder="头像id"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">性别 0:未知 1:男 2:女</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.gender" placeholder="性别 0:未知 1:男 2:女"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">open_id(保留字段)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.openId" placeholder="open_id(保留字段)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">token(保留字段)</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.token" placeholder="token(保留字段)"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否实名认证 0:未认证 1:认证成功 2:认证失败</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.realNameAuthorized" placeholder="是否实名认证 0:未认证 1:认证成功 2:认证失败"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最近登录时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.latestLoginTime" placeholder="最近登录时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">最近登录ip</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.latestLoginIp" placeholder="最近登录ip"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.updateTime" placeholder="更新时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态 1:正常 2:禁用 3:删除</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="user.curState" placeholder="状态 1:正常 2:禁用 3:删除"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/user/user.js?_${.now?long}"></script>
</body>
</html>